apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: {{ .name | Quote }}
  name: {{ .name | Quote }}
  namespace: {{ .namespace | Quote }}
spec:
  replicas: {{ .replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .name | Quote }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .name | Quote }}
    spec:
      containers:
        - name: {{ .name | Quote }}
          image: {{ .image | Quote }}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: {{ .containerPort }}
              protocol: TCP
