apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: {{ .name | Quote }}
  namespace: {{ .namespace | Quote }}
spec:
  default:
    checkIntervalSec: 30
    logConfig:
      enabled: true
    config:
      httpHealthCheck:
        portSpecification: USE_SERVING_PORT
        requestPath: {{ .healthPath | Quote }}
      type: HTTP
    healthyThreshold: 1
    timeoutSec: 5
    unhealthyThreshold: 3
  targetRef:
    group: ""
    kind: Service
    name: {{ .name | Quote }}
